# =========================
# IDEA related folders/files
# =========================
.idea/
*.iml
*.iws
.idea/artifacts/
.idea/shelf/
.idea/workspace.xml
.idea/.name
.idea/runConfigurations.xml
.idea/AndroidProjectSystem.xml
.idea/codeStyles/
.idea/remote-targets.xml
.idea/libraries/
.idea/modules.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/csv-plugin.xml
.idea/libraries-with-intellij-classes.xml
.idea/misc.xml
.idea/protoeditor.xml
.idea/copyright/
.idea/material_theme_*
.idea/inspectionProfiles/
.idea/runConfigurations/

# =========================
# System/OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build output
# =========================
build/
buildSrcTmp/
out/
outTmp/
dist/
distTmp/
output/
/test.output

# =========================
# Gradle
# =========================
.gradle/
.gradle
.gradle/
.gradle/*
*.hprof
*.versionsBackup
local.properties

# =========================
# Kotlin/Java
# =========================
kotlin-js-store
/kotlin-native/dist
kotlin-ide/
.kotlin/

# =========================
# Node.js / JS
# =========================
node_modules/
.rpt2_cache/
.npmrc
libraries/tools/kotlin-test-js-runner/lib/

# =========================
# Project-specific
# =========================
/confluence/target
/dependencies/repo
/android.tests.dependencies
/dependencies/android.tests.dependencies
/gh-pages
/ideaSDK
/clionSDK
/android-studio/sdk
/intellij
/jps-plugin/testData/kannotator
/idea/testData/debugger/tinyApp/classes*
/js/js.translator/testData/out/
/js/js.translator/testData/out-min/
/js/js.translator/testData/out-pir/
!**/src/**/build
!**/test/**/build
!**/testData/**/*.iml

# =========================
# Logs
# =========================
*.log