name: Zernikalos Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build (Gradle)
    runs-on: ubuntu-latest
    container:
      image: mobiledevops/android-sdk-image:34.0.0
      options: -u root
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            .gradle
          key: gradle-${{ github.ref }}

      - name: Build
        run: ./gradlew build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-dir
          path: build
